body, html {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue", Arial;
}

h1 {
    font-size: 2.4em;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 1.1em;
    margin: 0;
    padding: 0;
    margin-top: -10px;
}


header {
    text-align: center;
    padding: 5px;
    padding-bottom: 10px;
    background-color: rgba(56, 70, 30, 0.9);
    color: whitesmoke;
    border-bottom: solid 2px rgba(27, 27, 27, 0.9);
}



.lastplayed {
    
}