body {
  margin: 0;
  background: #0f1220;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

.top {
  position: fixed;
  top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 10;
}

.btn-back {
  padding: 12px 26px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #4da3ff;
  color: white;
  transition: 0.2s;
}

.btn-back:hover {
  background: #4da3ffc2;
}

.container {
  max-width: 700px;
  margin: 120px auto 40px;
  padding: 20px;
}

a {
  color: #4da3ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
