body {
  margin: 0;
  background: #0f1220;
  color: #ffffff;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 10px; 
}

.container {
  text-align: center;
}

h1 {
  margin-bottom: 10px;
  font-size: 42px;
}

a { 
    color: inherit;
    text-decoration: none;
}

.subtitle {
  color: #aaa;
  margin-bottom: 40px;
  font-size: 16px;
}

.btn-start {
  padding: 15px;
  width: 300px;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #4da3ff;
  color: white;
  transition: 0.2s;
  margin-bottom: 15px;
}

.btn-start:hover {
  background: #4da3ffc2;
}

.btn-menu {
  padding: 15px;
  width: 300px;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #4dddb0;
  color: black;
  transition: 0.2s;
}

.btn-menu:hover {
  background: #9b9b9b;
}

.bottom {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.link {
  color: #888;
  text-decoration: none;
  font-size: 14px;
}

.link:hover {
  color: #bbb;
}
